#footer {
    color: white;
    background-color: rgb(114, 8, 8);
}

.upperPart {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footerlink {
    text-decoration: none;
    color: rgb(188, 188, 183);
    display: block;
    margin: 10px;
}

.footerlink:hover {
    color: aliceblue;
}

input[type=email] {

    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

.social {
    padding: 40px;
    text-align: center;
}

.sociallink {
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    font-size: x-large;
}

.sociallink:hover {
    color: rgb(152, 154, 156);
}

div.card {
    margin: 10px;
    /* width: 400px; */
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* z-index: -1;   */
}

div.card:hover {
    transform: scale(1.05);
    transition-duration: 0.4s;
}

.about {
    padding: 12px;
    text-align: center;
    font-size: .5cm;
    font-family: Arial, Helvetica, sans-serif;
}

.about p {
    margin-bottom: 0px;
}

h2.h1 {
    text-align: center;
    padding: 20px;
    padding-top: 10px;
    border-bottom: 2px solid rgb(218, 213, 213);
    margin-bottom: 50px;
}
